<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}{% endblock %}Villa del Norte</title>
    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extrastyle %}{% endblock %}
</head>
<body>
    <div id="login" class="modal show" role="dialog">
        <div class="modal-dialog">
            <!-- Contenido-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Cambiar clave</h4>
                </div>
                <div class="modal-body">
                        <form class="login-form" role="form" name="LoginForm" action="{% url 'log:cambiarpassword' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </div>
                                    <input name="usuario" type="text" class="form-username form-control" placeholder="Clave">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </div>
                                    <input name="usuario" type="text" class="form-username form-control" placeholder="Clave">
                                </div>
                            </div>
                            <button class="btn btn-block btn-success" type="submit">Editar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>